@import "tailwindcss";

.inputError {
    @apply border-(--danger) shadow-[0_0_0.75rem_rgba(239,68,68,0.25)];
}

.errorText {
    @apply text-[0.8rem] animate-[errorFade_0.25s_ease];
    
    color: var(--danger);
}

.labelSpanRed {
    @apply ml-2 transition-[color] duration-300 ease-in-out;

    color: var(--danger);
}

.labelSpanGreen {
    @apply ml-2 transition-[color] duration-300 ease-in-out;

    color: var(--success) !important;
    text-shadow: 0 0 0.5rem var(--success);
}