@import "./variables.css";
@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-gray: var(--gray);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-muted: var(--muted);
  --color-neon: var(--neon);
  --color-dark: var(--dark);
  --color-glow: var(--glow);
  --color-text: var(--text);
  --color-golden: var(--golden);

  --radius-brand: var(--radius);
}
