@import "tailwindcss";

/* ==========================================
   NOTICE PAGE
========================================== */

.landing-notice-page {
    @apply w-full rounded-(--radius) bg-transparent p-4 backdrop-blur-sm sm:p-5 md:p-6 lg:p-8;

    animation: blueNeon 3s linear infinite;
}

/* ==========================================
   CONTENT
========================================== */

.landing-notice-content {
    @apply mx-auto w-full max-w-275;

    transition: all 0.3s ease-in-out !important;
}

/* ==========================================
   LIST
========================================== */

.landing-notice-list {
    @apply m-0 flex p-5 w-full flex-col gap-2 overflow-y-auto md:h-90;
}

/* ==========================================
   LIST ITEM
========================================== */

.landing-notice-list-item {
    @apply w-full p-1.5;
}

/* ==========================================
   NOTICE ITEM
========================================== */

.landing-notice-item {
    @apply flex w-full min-w-0 cursor-pointer items-center gap-2 text-left;
}

/* ==========================================
   ARROW
========================================== */

.landing-notice-arrow {
    @apply flex shrink-0 items-center justify-center text-(--danger);
    animation: rightInfinityMove 1s ease-in-out infinite;
}

@keyframes rightInfinityMove {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0.3125rem);
    }
}

/* ==========================================
   TITLE
========================================== */

.landing-notice-title {
    @apply min-w-0 text-(--danger) font-semibold leading-normal;

    font-size: 1rem;
    overflow-wrap: anywhere;
    transition: all 0.3s ease-in-out !important;
    animation: softRedTextGlow 1s ease-in-out infinite;
}

.landing-notice-title:hover{
    transform: translateX(5px);
    text-decoration: underline !important;
}

/* ==========================================
   CTA
========================================== */

.landing-notice-cta {
    @apply mt-4 flex justify-center sm:mt-5 md:mt-6;
}

/* ==========================================
   ACCESSIBILITY
========================================== */

@media (prefers-reduced-motion: reduce) {

    .landing-notice-page,
    .landing-notice-item {
        animation: none;
        transition: none;
    }
}