.password-group {

    position: relative;

}

#toggle-password {
    position: absolute;
    right: 16px;
    top: 56%;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--muted);
    font-size: 1.2rem;
    transition: .3s;
}

#toggle-password:hover {

    color: var(--primary);

}

.password-strength {

    margin-top: 8px;

    font-size: 14px;

    font-weight: 600;

}

.password-strength.weak {

    color: #ef4444;

}

.password-strength.medium {

    color: #f59e0b;

}

.password-strength.strong {

    color: #22c55e;

}