/* NAVBAR */
#navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    width: 100%;
    padding: 0 3rem;
    background:rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--neon);
    box-shadow: 0 0 20px var(--glow);
    transition: 0.3s ease;
}


/* CONTAINER */
#navbar-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO */
#navLogo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#navLogo img{
    width: 70px;
    border-radius: 50%;
    animation: blueNeon 6s linear infinite;
    transition: all 0.3s ease;
}

#navLogo img:hover{
    box-shadow: 0 0 20px var(--neon);
    transform: scale(1.2);
}

#navLogo-text h2{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 700;
}

#navLogo-text h2 span{
    color: var(--neon);
    font-size: 1.5rem;
}

#navlink{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

#navlink a {
    text-decoration: none;
    color: var(--text);
    border: 1px solid transparent;
    padding: 0.7rem;
    position: relative;
    transition: 0.3s ease;
}

#navlink #navlinkPageBtn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--glow);
    border-radius: 50%;
    box-shadow: 0 5px 10px var(--neon);
    transition: width 0.5s ease-in;
}
#navlink #navlinkPageBtn:hover,
#navlink #navlinkPageBtn.active{
    color: var(--neon);
    text-shadow: 0 0 12px var(--neon);
}

#navlink #navlinkPageBtn:hover::after,
#navlink #navlinkPageBtn.active::after {
    width: 100%;
}






#toggleBar{
    display: none;
}
#toggleBar button{
    font-size: 1.5rem;
    margin: 0;
    padding: 0.7rem 0.7rem 0.3rem 0.7rem;
    border: 1px solid var(--neon);
    color: var(--glow);
    border-radius: 0.3rem;
    background-color: var(--surface);
}
#toggleBar button:hover,
#toggleBar button.active{
    color: var(--dark);
    text-shadow: var(--neon);
}


/* After toggle */
#sidebarOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
}

#navSidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 280px;
    height: 100vh;
    background-color: var(--dark);
    z-index: 999999;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 0.8rem;
    box-shadow: -8px 0 15px var(--neon);
}

#navSidebar a {
    text-decoration: none;
    color: var(--neon);
    padding: 0.9rem 0.8rem;
    border-radius: 6px;
    background-color: var(--surface);
    transition: 0.3s ease;
}

#navSidebar a:hover,
#navSidebar a.active {
    color: var(--neon);
    background-color: var(--glow);
    text-shadow: 0 0 12px var(--neon);
}

#closeBtn {
    align-self: flex-end;
    font-size: 1.5rem;
    background-color: var(--surface);
    border: 1px solid var(--neon);
    border-radius: 0.3rem;
    color: var(--glow);
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/* AUTH BUTTONS */

#auth-buttons{
    display: flex;
    gap: 1rem;
    margin-left: 1.25rem;
}


/* RESPONSIVE */
/* Mobile (Portrait + Small Phones) */
@media (max-width: 439px) {
    #navbar{
        height: 80px;
        padding: 0 1rem;
    }
    #navLogo img{
        width: 50px;
    }
}

/* Tablet */
@media(max-width: 991px) {
    #navlink{
        display: none;
    }
    #toggleBar{
        display: block;
    }
}