/* #recentUpdates{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#recentUpdates h1{
    margin-left: 1rem;
    font-size: 1.7rem;
    color: var(--neon);
    position: relative;
}

#recentUpdates h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 150px;
    height: 3px;
    background-color: var(--glow);
    border-radius: 50%;
}

#recentNotification{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.recentNotificationList{
    background-color: var(--surface);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.recentSerielNum{
    color: var(--success);
    position: relative;
}

.recentSerielNum::after{
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    background-color: var(--neon);
    width: 2px;
    height: 100%;
    border-radius: 50%;
}

.recentNotificationContent{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.recentNotificationContent h3{
    font-size: 1.2rem;
}

.recentNotificationContent p{
    font-size: 0.9rem;
    color: var(--muted);
} */


#recentUpdates {

    margin-top: 25px;

    background: #181825;

    padding: 20px;

    border-radius: 18px;

    border: 1px solid rgba(255, 255, 255, .08);

}

.recentHeader {

    margin-bottom: 18px;

}

.recentHeader h2 {

    color: white;

    font-size: 22px;

}

#recentNotification {

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.recentNotificationList {

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 14px;

    border-radius: 12px;

    background: #202030;

    transition: .3s;

}

.recentNotificationList:hover {

    transform: translateX(8px);

    background: #26263b;

}

.recentAvatar img {

    width: 55px;

    height: 55px;

    border-radius: 50%;

    object-fit: cover;

    border: 2px solid cyan;

}

.recentNotificationContent {

    flex: 1;

    margin-left: 15px;

}

.recentNotificationContent h4 {

    color: white;

    margin-bottom: 5px;

}

.recentNotificationContent p {

    color: #a8a8a8;

    font-size: 14px;

}

.recentIcon {

    font-size: 26px;

    color: cyan;

}
