@import "tailwindcss";

/* ==========================================
   INPUT GROUP
========================================== */

.input-group {
    @apply flex flex-col gap-2;
}

.input-label {
    @apply text-base font-semibold;
    
    color: var(--text);
}

.input-wrapper {
    @apply relative;
}

.input-wrapper .input {
    @apply box-border block w-full rounded-[0.6rem] bg-(--surface) px-4 py-[0.8rem] outline-none transition-all duration-300 ease-in-out;

    border: 0.0625rem solid rgba(255, 255, 255, 0.1);
    color: var(--text);
}

.input-wrapper .input:hover,
.input-wrapper .input:focus {
    @apply shadow-[0_0_0.4375rem_var(--neon)];
}

/* ==========================================
   RESPONSIVE
========================================== */

.input-group,
.input-wrapper,
.input-wrapper .input {
    @apply w-full max-w-full;
}

/* ==========================================
   SMALL SCREEN
========================================== */

@supports (font-size: clamp(0.8rem, 1vw, 1rem)) {
    .input-label {
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
}