#footer {
    position: relative;
    z-index: 999;
    background: rgba(0, 0, 0, 0.45);
    color: var(--text);
    padding: 5rem 8% 1.9rem;
    backdrop-filter: blur(2px);
    border-top: 1px solid var(--neon);
    box-shadow: 0 0 20px var(--glow);
    transition: 0.3s ease;
    margin-top: 1rem;
}

#footer-container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 3rem;
}


#footer-brand h2 {
    font-size: 2rem;
    font-weight: 800;
}

#footer-brand span {
    color: var(--neon);
    text-shadow: 0 0 15px var(--neon);
}



#footer-brand p {
    color: #94a3b8;
    line-height: 1.7;
}

#social {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}



#social a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0f172a;
    border: 1px solid var(--neon);
    color: var(--neon);
    font-size: 1.2rem;
    transition: all .4s ease;
}




#social a:hover {
    transform: translateY(-10px) rotate(360deg);
    box-shadow: 0 0 25px var(--neon);
}


#footer-links h3,
#footer-legal h3,
#footer-news h3 {
    color: var(--neon);
    margin-bottom: 1.5rem;
}

#footer-news p {
    margin-bottom: 1rem;
}




#footer-links a {
    display: block;
    margin: 1rem 0;
    color: var(--muted);
    cursor: pointer;
    transition: .3s;
}

#footer-legal a {
    display: block;
    margin: 1rem 0;
    color: var(--muted);
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

#footer-legal a:hover {
    color: var(--neon);
    transform: translateX(10px);
}



#footer-links a:hover {
    color: var(--neon);
    transform: translateX(10px);
}

#footerLogo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#footerLogo img {
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#footerLogo img:hover {
    box-shadow: 0 0 20px var(--neon);
    transform: scale(1.2);
}



#footer-bottom {
    position: relative;
    z-index: 2;
    margin-top: 4rem;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--muted);
}

#vrLine{
    background-color: var(--neon);
    width: 2px;
    height: 20px;
    border-radius: 50%;
    display: none;
}





/* ==========================================
   RESPONSIVE
========================================== */

/* RESPONSIVE */
@media(max-width: 439px) {
    #footer {
        padding: 3rem 1rem 1.3rem;
        text-align: center;
    }

    #footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #social{
        justify-content: center;
    }

    #footer-brand h2,
    #footer-brand span {
        font-size: 1.2rem;
    }

    #footer-news {
        display: none;
    }

    #footer-links {
        display: none;
    }

    #footer-legal {
        display: none;
    }


    #footerLogo {
        display: none;
    }

    #footer-bottom{
        font-size: 0.8rem;
    }

    #vrLine{
        display: block;
    }

}

/* Mobile (Portrait + Small Phones) */
@media(min-width: 440px) and (max-width: 767px) {
    #footer {
        padding: 2.5rem 1.5rem 1rem;
    }

    #footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #footer-links {
        display: none;
    }

    #footer-legal {
        display: none;
    }

    #footer-news {
        width: 70%;
    }

    #footerLogo {
        display: none;
    }

    #footer-bottom{
        font-size: 0.9rem;
    }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #footer {
        padding: 3rem 2rem 1.5rem;
    }

    #footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #footerLogo {
        display: none;
    }
}