#activeStudents {
    margin-top: 30px;
}

#activeStudents h2 {
    color: white;
    margin-bottom: 20px;
}

#activeStudentCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#activeStudentCard {
    display: flex;
    gap: 18px;
    padding: 20px;
    border-radius: 18px;
    background: #1d1d2c;
    border: 1px solid rgba(255, 255, 255, .08);
    transition: .35s;
}

#activeStudentCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(0, 255, 255, .18);
    border-color: cyan;
}

#activeStudentCard img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid cyan;
}

#activeStudentInfo {
    flex: 1;
}

#activeStudentInfo h4 {
    color: white;
    margin-bottom: 5px;
}

#activeStudentInfo span {
    color: #bcbcbc;
    font-size: 14px;
}

#activeStudentProgressBar {
    margin: 12px 0;
    height: 8px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
}

#activeStudentProgress {
    height: 100%;
    background: linear-gradient(90deg,
            cyan,
            #00ff95);
    border-radius: 20px;
    transition: 1s;
}

#activeStudentInfo small {
    color: #999;
}

@media (max-width: 439px) {
    #activeStudents h2{
        font-size: 1.3rem;
    }
}