@import "tailwindcss";

/* =========================================
   CONTINUE LEARNING
========================================= */

.continue-learning {
    @apply mt-5;
}

/* =========================================
   SECTION TITLE
========================================= */

.continue-learning-section-title {
    @apply mb-5.5
        flex
        items-center
        justify-between
        gap-3;
}

.continue-learning-section-title h2 {
    @apply ml-0
        text-[clamp(1rem,3vw,1.75rem)]
        font-bold
        text-(--neon)
        sm:ml-4;
}

.continue-learning-section-title p {
    @apply shrink-0
        text-[clamp(0.75rem,1.5vw,0.875rem)];

    color: var(--muted);
}

/* =========================================
   GRID
========================================= */

.continuelearning-grid {
    @apply grid
        w-full
        grid-cols-1
        gap-4
        sm:grid-cols-2
        sm:gap-2
        lg:grid-cols-4
        lg:gap-5;
}